html {
	margin: 0px;
}

body {
	margin: 0px;
	font-family: helvetica,arial,sans-serif;
	font-size: 10px;
	background-color: rgba(240,240,240,1);
}

h2 {
	margin-top: 50px;
}

a.link {
	position:fixed;
	top: 2px;
	z-index: 10;
	padding-left: 9px;
	padding-right: 9px;
	padding-bottom: 2px;
	padding-top: 2px;
	background-color: white;
	border-radius: 5px;
	box-shadow: 1px 1px 3px 0px black;
	color: #0f0f0f;
	opacity: 0.5;
}

a.link:hover {
	opacity: 1.0;
}

a.link.viewsource {
	left: 2px;
}

a.link.cppsource {
	left: 196px;
}

a.link.back {
	left: 81px;
}

div.mainContainer {
	width: 80%;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 50px;
	padding-bottom: 50px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 0px 0px 7px 7px;
	box-shadow: 0px 0px 100px 20px white;
	background-color: white;
}

div.info {
	position: fixed;
	top: 0px;
	right: 0px;
	width: 20%;
	color: white;
	background-color: rgba(120,120,120,0.8);
}

div.compatibility {
	font-size: 14px;
	position: fixed;
	bottom: 0px;
	right: 0px;
	left: 0px;
	color: red;
	background-color: rgba(245,245,245,0.8);
	padding-left: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
}